# Ignore any logs or junk
*.log
junk/

# Ignore ALL CSVs... ...BUT keep the input file
*.csv
!example_input.csv

# Ignore Python artifacts
__pycache__/
*.pyc
.env

# Editor settings
.vscode/

# Virtual Environment
.venv/